Repository ggravlingen/pypmanager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  entry: script/run-in-env.sh mypy
  language: script
  name: mypy
  require_serial: true

pylint:
  entry: script/run-in-env.sh pylint
  language: script
  name: pylint

Fix PnL for sold holdings
  pypmanager/loader_transaction/general_ledger.py
  tests/test_general_ledger.py
Due: mypy, pylint

Move PnL to cash ledger record (#148)
  pypmanager/loader_transaction/general_ledger.py
  tests/test_general_ledger.py
Due: mypy, pylint

Add graphql endpoint
  pypmanager/server/__init__.py
  pypmanager/server/graphql/__init__.py
  pypmanager/server/graphql/models.py
  pypmanager/server/graphql/query.py
  requirements.txt
  requirements_test.txt
  tests/server/__init__.py
  tests/server/test_endpoint.py
  tests/test_server.py
Due: mypy, pylint

Fix sorting
  tests/server/test_endpoint.py
Due: mypy

Add GraphQL endpoint (#149)
  pypmanager/server/__init__.py
  pypmanager/server/graphql/__init__.py
  pypmanager/server/graphql/models.py
  pypmanager/server/graphql/query.py
  requirements.txt
  requirements_test.txt
  tests/server/__init__.py
  tests/server/test_endpoint.py
  tests/test_server.py
Due: mypy, pylint

Always include FX rate
  pypmanager/loader_transaction/base_loader.py
  pypmanager/loader_transaction/calculate_aggregates.py
  pypmanager/loader_transaction/lysa.py
  tests/test_calculate_aggregates.py
Due: mypy, pylint

Always include FX rate (#150)
  pypmanager/loader_transaction/base_loader.py
  pypmanager/loader_transaction/calculate_aggregates.py
  pypmanager/loader_transaction/lysa.py
  tests/test_calculate_aggregates.py
Due: mypy, pylint

Remove decimals
  pypmanager/server/templates/current_portfolio.html
Due: none

Remove decimals (#151)
  pypmanager/server/templates/current_portfolio.html
Due: none

A couple of fixes
  config/market_data.yaml
  pypmanager/helpers/__init__.py
  script/bootstrap.sh
Due: mypy, pylint

A couple of fixes (#152)
  config/market_data.yaml
  pypmanager/helpers/__init__.py
  script/bootstrap.sh
Due: mypy, pylint

Add architecture information
  README.md
  pypmanager/analytics/holding.py
  pypmanager/helpers/__init__.py
  pypmanager/server/__init__.py
  pypmanager/server/templates/current_portfolio.html
Due: mypy, pylint

Add architecture information (#153)
  README.md
  pypmanager/analytics/holding.py
  pypmanager/helpers/__init__.py
  pypmanager/server/__init__.py
  pypmanager/server/templates/current_portfolio.html
Due: mypy, pylint

Rename SHB loader
  config/market_data.yaml
  pypmanager/loader_market_data/morningstar.py
  pypmanager/loader_market_data/shb_fonder.py
Due: mypy, pylint

Rename SHB loader (#158)
  config/market_data.yaml
  pypmanager/loader_market_data/morningstar.py
  pypmanager/loader_market_data/shb_fonder.py
Due: mypy, pylint

Implement pydantic-settings
  data-demo/market_data.csv
  data-demo/other-demo.csv
  pypmanager/analytics/security.py
  pypmanager/loader_market_data/utils.py
  pypmanager/loader_transaction/base_loader.py
  pypmanager/loader_transaction/calculate_aggregates.py
  pypmanager/settings.py
  requirements.txt
  tests/test_data_loader.py
Due: mypy, pylint

Fix linting
  pypmanager/server/__init__.py
  pypmanager/server/templates.py
Due: mypy, pylint

Implement pydantic-settings (#159)
  data-demo/market_data.csv
  data-demo/other-demo.csv
  pypmanager/analytics/security.py
  pypmanager/loader_market_data/utils.py
  pypmanager/loader_transaction/base_loader.py
  pypmanager/loader_transaction/calculate_aggregates.py
  pypmanager/server/__init__.py
  pypmanager/server/templates.py
  pypmanager/settings.py
  requirements.txt
  tests/test_data_loader.py
Due: mypy, pylint

A nice set of improvements
  pypmanager/analytics/holding.py
  pypmanager/analytics/security.py
  pypmanager/helpers/__init__.py
  pypmanager/server/__init__.py
  pypmanager/server/templates/current_portfolio.html
  pypmanager/server/templates/footnote.html
  pypmanager/server/templates/general_ledger.html
  pypmanager/server/templates/historical_portfolio.html
  pypmanager/server/templates/navigation.html
  pypmanager/utils/__init__.py
  pypmanager/utils/dt.py
  tests/server/test_endpoint.py
  tests/utils/__init__.py
  tests/utils/test_dt.py
Due: mypy, pylint

A nice set of improvements (#160)
  pypmanager/analytics/holding.py
  pypmanager/analytics/security.py
  pypmanager/helpers/__init__.py
  pypmanager/server/__init__.py
  pypmanager/server/templates/current_portfolio.html
  pypmanager/server/templates/footnote.html
  pypmanager/server/templates/general_ledger.html
  pypmanager/server/templates/historical_portfolio.html
  pypmanager/server/templates/navigation.html
  pypmanager/utils/__init__.py
  pypmanager/utils/dt.py
  tests/server/test_endpoint.py
  tests/utils/__init__.py
  tests/utils/test_dt.py
Due: mypy, pylint

Add screenshots to readme
  README.md
  docs/assets/general_ledger.png
  docs/assets/overview.png
Due: none

Add screenshots to readme (#161)
  README.md
  docs/assets/general_ledger.png
  docs/assets/overview.png
Due: none

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Test caching
  pypmanager/analytics/holding.py
  pypmanager/helpers/__init__.py
Due: mypy, pylint

Test caching (#169)
  pypmanager/analytics/holding.py
  pypmanager/helpers/__init__.py
Due: mypy, pylint

Update devcontainer
  .devcontainer/Dockerfile.dev
  .devcontainer/devcontainer.json
Due: none

S
  config/market_data.yaml
Due: none

Fix devcontainer and other (#220)
  .devcontainer/Dockerfile.dev
  .devcontainer/devcontainer.json
  config/market_data.yaml
Due: none

Fix
  pypmanager/helpers/__init__.py
  pypmanager/loader_market_data/avanza.py
  pypmanager/loader_market_data/base_loader.py
  pypmanager/loader_market_data/ft.py
  pypmanager/loader_market_data/morningstar.py
  pypmanager/server/__init__.py
  pypmanager/server/graphql/query.py
Due: mypy, pylint

Fix test
  tests/test_loader_market_data.py
Due: mypy

Add ruff rules for pylint
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  pypmanager/analytics/holding.py
  pypmanager/const.py
  pypmanager/loader_market_data/base_loader.py
  pypmanager/loader_market_data/ft.py
  pypmanager/loader_market_data/morningstar.py
  pypmanager/loader_transaction/base_loader.py
  pypmanager/loader_transaction/calculate_aggregates.py
  pypmanager/loader_transaction/general_ledger.py
  pypmanager/utils/dt.py
  pyproject.toml
Due: mypy, pylint

Path conditions:
  mypy: any of: ^(pypmanager|tests)/.+\.py$ and \.py$
  pylint: any of: ^pypmanager/.+\.py$ and \.py$
